*{
    padding:0px;
    margin:0px;
    font-family: Inter;
    font-size:24px;
    box-sizing: border-box;
    
}

.navbar{
    height:97px;
    width:100%;
    background-color:rgba(6, 6, 6, 1);
    color:white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
}

.logo{
    font-size:36px;
    text-align: center;
}

.events{
    border: 2px solid rgba(154, 0, 179, 1);
    border-radius:5px;
}
.in_bord{
    width:100%;
    padding:0.5rem 1.2rem;
    border:2px soid blue;
}
.events:hover .in_bord{
    background-color: rgba(154, 0, 179, 1);
    border:2px solid black;
    border-radius:5px;
}

.dropdown{
    display: none;
}

@media(max-width:768px){
    .home ,.about ,.team ,.contact ,.events{
        display: none;
    }
    
    .dropdown{
        width:100%;
        height:50px;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        color:aliceblue;
        text-align: center;
        cursor: pointer;
    }

    .dropdown p{
        width:100%;
    }

    .drop_cont{
        display: none;
        width:100%;
        background-color:rgba(128, 128, 128, 0);
        color:white;
    }
    .dropdown p:hover {
        transition:all 0.3s linear;
        transform:rotate(180deg);
    }
    .dropdown:hover .drop_cont{
        display:flex;
        flex-direction: column;
        position:absolute;
        top:12.5%;
        cursor:pointer;
        background-color: black;
        color:rgba(154, 0, 179, 1);
    }

    .dropbtn{
        width:100%;
        background-color:black;
        border:0px;
        color:white;
    }
    .drop_cont{
        display: none;
    }
    .drop_cont a{
        text-decoration: none;
        color:rgba(154, 0, 179, 1);
        padding:0.3rem;
        border:2px white dashed;
    }
}

@media(min-width:770px){
    .navbar{
        justify-content: space-evenly;
    }
}

@media (min-width:1135px){
    .navbar{
        padding:0rem 1rem 0rem -4rem;
        gap:1rem;
    }
    .logo{
        margin-left:0px;
        padding-left: 0px;
        margin-right:15rem;
    }
    
}







