*{
    scroll-behavior: smooth;
}

.navbar{
    height:97px;
    width:100%;
    color:white;
    padding:0px 6em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(12px);
    position: fixed;
    z-index: 120;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-family: Inter;
}

.nav_main{
    display: flex;
    gap:1.2rem;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size:36px;
    text-align: center;
    background-color: transparent;
}

.logo:hover{
    text-shadow: -5px 5px 10px rgba(154,0,179,1);
}

.events{
    border: 2px solid rgba(154, 0, 179, 1);
    border-radius:5px;
}

.in_bord{
    width:100%;
    padding:0.6rem 1.2rem;
}

.events:hover .in_bord{
    background-color: rgba(154, 0, 179, 1);
    border:2px solid black;
    border-radius:5px;
    animation:prev-btn 0.2s ease-in-out;
    cursor:pointer;
}


@keyframes prev-btn{
    from {
        background-color:transparent;
        color:#ECD7D7;
    }
    to {
        background-color:rgba(154, 0, 179, 1);
        color:#ECD7D7;
        
    }
}


.cur:hover,.active{
    color:rgb(201, 160, 207); 
}



.MobileNav{
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(15px);
    padding:9px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    height:70px;
    width:100%;
    overflow-x:auto;
    transition: all 0.5s ease-in-out,opacity 0.6s;
    opacity:1;
}

.MobileNav.hidden{
    opacity:0;
}

.nav_link{
    overflow:hidden;
    white-space: nowrap;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    
}

.nav_link:hover,.active{
    .icons{
        fill:#ECD7D7;
        transition: 0.2s ease-in-out;
        scale:1.2;
    }
    .icontext{
        color:blueviolet;
        transition: 0.2s ease-in-out;
    }
}



.icons{
    height:40%;
    margin:0px;
    padding:0px;
    fill:blueviolet;
}

.icontext{
    color:white;
}



@media (max-width:768px){
    .navbar{
        display: none;
    }
    .MobileNav{
        display:flex;
        position:fixed;
        z-index:900;
        bottom:0%;
        margin:0px;
    }


    
}

